.buy-actions i{
    background: #000000bd;
    padding: 5px 20px;
    color: #fff;
}
.buy-actions{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.list-table{
    vertical-align: 0;
}